FINTABLES_BASE_URL=https://api.fintables.com
FINTABLES_GATE_URL=https://gate.fintables.com
FINTABLES_MOBILE_BUILD=323
FINTABLES_MOBILE_VERSION=2.28.2
FINTABLES_USERNAME=
FINTABLES_PASSWORD=
FINTABLES_LANG=tr #tr or en
